@media only screen and (min-width: 0rem) {
    .input {
        width: 100%;
        padding: 2rem 1rem;
        background: var(--clr-white);
        border-radius: .5rem;
    }

    .section_container {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: start;
        align-items: center;
        text-align: left;
    }

    textarea {
        grid-column: 1/3;
        width: 100%;
        height: 6rem;
        resize: none;
        border: 1px solid var(--clr-neutral-gray100);
        border-radius: .5rem;
        padding: 1rem 1rem;
        font-family: inherit;
        font-weight: 400;
        font-size: 1rem;
        color: var(--clr-neutral-gray500);
        margin-bottom: 1rem;
    }

    textarea:focus {
        outline: 1px solid var(--clr-neutral-gray500);
    }

    .img_container {
        width: 32px;
        height: 32px;
    }

    .img_container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .button_container {
        margin: 0 0 0 auto;
    }

    .input button {
        border: none;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-family: inherit;
        font-weight: 500;
        font-size: 1.2rem;
        padding: .75rem 1.5rem;
        border-radius: .5rem;
        background: var(--clr-primary-purple600);
        color: var(--clr-white);
    }

    .input button:hover {
        cursor: pointer;
        background: var(--clr-primary-purple200);
    }
}

@media only screen and (min-width: 48rem) {
    .section_container {
        display: flex;
        grid-template-columns: unset;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
    }

    .img_container {
        order: -1;
        width: 43px;
        height: 32px;
    }
}