@media only screen and (min-width: 0rem) {
    .comments_wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* space between comments */
        margin-bottom: 1rem;
        gap: .5rem;
    }

    .replies_container {
        margin: .5rem 0 0rem 1.8rem;
        /* width: calc(100% - 1.8rem); */
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 1rem;
    }

    .replies_container > div > :nth-child(odd) {
        margin-bottom: .5rem;
    }

    .replies_container > div > :last-of-type {
        margin-bottom: 0;
    }

    .replies_container::before {
        content: "";
        width: 3px;
        height: 100%;
        position: absolute;
        top: 0;
        left: -1.8rem;
        background: var(--clr-neutral-gray100);
    }

    .input_wrapper {
        width: 100%;
    }
}

@media only screen and (min-width: 48rem) {
    .replies_container {
        margin-left: 4rem;
    }
}